.cards{
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    max-height: 100%;
    padding: 4rem;
    background: #fff;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    text-align: center;
    color: midnightblue;
    animation: fadein 2s;
}

.cardAnchor {
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    width: calc(33.333% - 2rem); /* Adjust based on the number of cards per row */
    text-decoration: none;
}

.cardsItems {
    margin-bottom: 24px;
}

.cardsItem {
    display: flex;
    height: 100%;
    
    flex: 1 1 auto;
    margin: 0 1rem;
    border-radius: 10px;
}

.cardsItemLink {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cardItemPicWrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fadeImg {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cardItemPicWrap::after {
    content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cardItemImg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.cardItemImg:hover{
    transform: scale(1.1);
}

.cardsItemInfo {
    padding: 20px 30px 30px;
}

.cardsItemText {
    color: midnightblue;
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
}

.cardsItemText:hover {
    color: #ffd700;
}

@media screen and (min-width: 1024px) {
    .cardsItems {
        display: flex;
    }    
}

@media screen and (max-width: 1024px) {
    .cards {
        padding: 1rem;
    }
    
    .cardsItem {
        margin-bottom: 2rem;
    }
    
    .cardAnchor {
        width: 100%;
    }
}